
body {
  background-color: #e7c1c1 !important;
}

.navbar a:active {
  color: #13e42f !important;
}

.navbar {
  background-color: #c52525;
  padding: 1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: #18f1ea;
}


.active {
  color: #13e42f !important;
}

body p {
  color: #e58219;
}

.bottom-1 {
  box-shadow: 8px 5px 6px 1px rgba(222, 33, 33, 0.88) !important;
  border-radius: 10px;
  border:1px solid #000;
   
}

.row>h1 {
  color: #bf0a0a;
}
